
.task {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.task.reminder {
    border-left: 5px solid green;
}

.task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i {
    color: red;
    text-shadow: 0 0 3px #000;
}

i:hover {
    text-shadow: 0 0 8px #000;
   
}